ul,
ol{margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;} 

a {text-decoration: none;}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {margin: 0;}
ul, ol {margin: 0;padding: 0;}

img{display: block;}

button {cursor: pointer;}

.container {max-width: 1158px;
    padding: 0 15;
    margin:  0 auto;}

.page-body{font-family: "Roboto", sans-serif;background: #FFFFFF;color: #434455;}

/*========HEADER==============*/

.header{line-height: 1.17;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
     background: #fff;}

.header-container{display: flex;
   align-items: center; 
   justify-content: space-between;}  

.page-navigation{display: flex;
    align-items: center;
   /* outline: 1px solid blue;*/}  

.logo{display: block;
    font-family:"Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 156px;}

.logo-text-roboto{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

.menu{display: flex;
    column-gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    align-items: center;
    margin-left: 76px;}
  
.menu-link-span{position: relative; 
    font-weight: 500;
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;}

.menu-link-span::after{display: flex;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;}    

.menu-link{display: block;
    font-weight: 500;
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color:#2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
.menu-link:hover, 
.menu-link:focus{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;}

.address{color:#434455;
    font-style: normal;}

.addres-container{display: flex;
    column-gap: 40px;}

.address-item{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}  

.address-item:hover,   
.address-item:focus{color:#404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

/*=========hero page===========*/ 

.hero{display: flex;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color:#2e2f42;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-image.jpg"    ); }

.hero-page{font-weight: 700px; 
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;}
 
.button-item{border: none;
    min-width: 169px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    background:#4d5ae5;
    color:#fff;    
    font-weight:500;
    letter-spacing:0.04em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.button-item:hover,
.button-item:focus{background:#404bbf;}        

/*===========benefits page===============*/ 

.icons-container{
    padding-top: 120px;
    padding-bottom: 120px;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.benefits-container {
    display: flex;
    flex-direction: row;
    column-gap: 24px;}

.li-benefits{
    width: calc((100% - 72px) / 4);}

.benefits-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 112px; 
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99; 
    margin-bottom: 8px;}

.benefits-item{font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 8px;
    color:#2e2f42;}

.benefits-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

/*============our team============*/

.our-team-container{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f4f4fd;}    

.ourteam-div{}

.ourteam-h{font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px}     

.ourteam-ul{display: flex;
    /*flex-direction: row;*/
    justify-content: center; 
    gap: 24px;
    padding-bottom: 120px;}
    
.ourteam-li{background-color:#FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);}    

.image-container{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #FFFFFF;}

.ourteam-item{text-align: center;
    margin-bottom: 8px;}    

.ourteam-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;}

.ourteam-icon-ul{display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;}

.our-team-list-icon{ fill: #f4f4fd;}    
    
.our-team-hover{width: 40px;
    height: 40px;}

.ourteam-hover-link{width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.ourteam-hover-link:hover,   
.ourteam-hover-link:focus{background-color: #404bbf;}  
    

/*========Our-Portfolio======*/


.ourportfolio-container{
    padding-top: 120px;
    padding-bottom: 120px;}

.op-h{text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height:1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;}    

.portfolio-container{display: flex;
    flex-wrap: wrap; 
    gap: 18px;
    column-gap: 24px;
    row-gap: 48px;}

.li-container{
    border-right: 1px solid #e7e9fc;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}    

.li-container:hover{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}  

.ourportfolio{
    overflow: hidden;
    position: relative;}

.op-item{font-weight: 500;
    font-size: 20px;
    line-height:1.2; 
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px}  

.op-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}    

.op-link:hover{}

.overlay{position: absolute;
    line-height: 1.5;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    color: #f4f4fd;
    overflow: auto;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform:  translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.li-container:hover .overlay {
    transform:  translateY(0%);}


    /*=============FOOTER============*/


.footer-container{
    background: #2e2f42;    
    
    max-width: 1158px;
    padding: 0 0;
    margin:  0 auto;}
   
.div-footer{display: flex;
    flex-direction: row;
    align-items: baseline;}

.footer-l{
    max-width: 264px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 120px} 
    
.footer-logo{font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;
    display: inline-block;
    padding-bottom: 16px;
    text-transform: uppercase;}
    
.footer-logo-raleway{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}

.footer-item{
    color: #f4f4fd;
    width: 264px;} 

.footer-i{
   color: #fff;}

.footer-p{ font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;}    

.foter-ul{display: flex;
    gap: 16px;}

.footer-list-link{width: 40px;
    height: 40px;}

.footer-a{ fill: #4d5ae5;
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.footer-a:hover,   
.footer-a:focus{
    fill: #31d0aa;
    background-color: #31d0aa;}
 

.footer-list-icon{fill: #f4f4fd;}    

